body{
    background-color: rgb(251, 251, 251);   
    font-family: Arial, sans-serif;
    margin: 0px;
     background-image:url("https://media.defense.gov/2003/Feb/10/2002243870/1200/1200/0/010205-F-1631A-001.JPG");>
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px; 
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
        text-align: center;
}
p{
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}
.navbar ul{
    list-style-type: none;

    padding: 0px;
position: left
    top: 50px;
    width: 100%
    overflow: hidden;
}
.navbar a{
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    background-color: aquamarine
    border: 1px solid #ccc;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase   ;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.navbar a:hover{
    background-color: rgb(41, 41, 41);
}

.navbar li{
    float: left
}
.home-bg{
    background-image: url("https://d1ldvf68ux039x.cloudfront.net/thumbs/photos/1912/5986364/1000w_q95.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
.badger-bg{
    background-image: url("https://scontent.fruh4-2.fna.fbcdn.net/v/t39.30808-6/480661226_10162284434627378_6892410440722060543_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=pHCp-Mjb2ZAQ7kNvwG92Fn9&_nc_oc=Adk397ziSl3AK7RVjwg-2NgP2CFaBcej6nIZLCMYYgiUISSZT9QvI4UGVz8S6RdMWcI&_nc_zt=23&_nc_ht=scontent.fruh4-2.fna&_nc_gid=GLmYl6te0v2MHNcL0lcGEg&oh=00_AfOLxkXAXN0siSXj4psyJ-VY2YzyHfd5WlmzrT60zyErYw&oe=686B3827");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.Panton-bg{
    background-image: url("https://media.defense.gov/2017/Jun/12/2001760730/1200/1200/0/080130-F-IF848-003.JPG");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}