body{
    background-color: rgb(251, 251, 251);   
    font-family: Arial, sans-serif;
    margin: 0px;
     background-image:url("https://media.defense.gov/2003/Feb/10/2002243870/1200/1200/0/010205-F-1631A-001.JPG");>
background-size: fill: cover; center center;
    background-repeat: no-repeat;
    background-attachment: fixed
    color: black;
    font-size: 16px; 
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
        text-align: center;
}
p{
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}
.navbar ul{
    list-style-type: none;
    background-color: gray ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(85, 85, 85);
    color: black; 
}

.navbar li{
    float: left;
}